@model HTTP5101_Cumulative1_UditeshJha.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav class="navteacher">
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirmTeacher/@Model.TeacherId">Delete</a>
    </nav>
    <h2>Show Teacher</h2>
    <p>Name: @Model.TeacherFname @Model.TeacherLname</p>
    <p>Id : @Model.TeacherId</p>
    <p>Employee Number : @Model.EmployeeNumber</p>
    <p>Hire Date : @Model.HireDate</p>
    <p>Salary : @Model.Salary</p>
</div>

