@model HTTP5101_Cumulative1_UditeshJha.Models.Class
@{
    ViewBag.Title = "ShowClass";
}

<a class="navlink" href="/CLass/ListClass">Back To Classes</a>
<div id="containershow">
    <h2>Show Class</h2>
    <p>Name: @Model.ClassName</p>
    <p>Class Id : @Model.ClassId</p>
    <p>Teacher Id : @Model.TeacherId</p>
    <p>Start Date : @Model.StartDate</p>
    <p>Finish Date : @Model.FinishDate</p>
</div>
