@model HTTP5101_Cumulative1_UditeshJha.Models.Student
@{
    ViewBag.Title = "ShowStudent";
}

<a class="navlink" href="/Student/ListStudent">Back To Students</a>
<div id="containershow">
    <h2>Show Student</h2>
    <p>Name: @Model.StudentFname @Model.StudentLname</p>
    <p>Id : @Model.StudentId</p>
    <p>Student Number : @Model.StudentNumber</p>
    <p>Enrol Date : @Model.EnrolDate</p>
</div>
